@media (min-width: 576px){
    #root{
        .checkbox{  
            .allThanhPho{
                grid-template-columns: auto auto auto auto;

                .thanhpho{    
                    .alltinh{
                        grid-template-columns: auto auto auto auto;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    #root{
        .checkbox{  
            .allThanhPho{
                grid-template-columns: auto auto auto auto auto;

                .thanhpho{    
                    .alltinh{
                        grid-template-columns: auto auto auto auto auto;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    #root{
        .checkbox{  
            .allThanhPho{
                grid-template-columns: auto auto auto auto auto auto;

                .thanhpho{    
                    .alltinh{
                        grid-template-columns: auto auto auto auto auto auto;
                    }
                }
            }
        }
    }
}